*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: white
}


.botao_padrao{
   background-color: #0066ff;
   text-align: center;
   width: 20vh;
   height: 4vh;
   border-radius: 5%;
}