.entrada{
    position: absolute;
    text-align: center;
    width: 25%;
    height: 20%;
    right: 10%;
    top: 30%;
}
.explicacao{
    position: absolute;
    width: 25%;
    left: 15%;
    top: 30%;
    font-size: large;
}
body{
    background-image: url("../src/wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
input{ 
    color: gray;
    width: 80%;
    height: 20%;
    margin-top: 5%;
}