body{
    background-image: url("../src/wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
p{
    font-size:3vh;
}
.texto_clicavel:hover{
    color: gray;
}

.centro_superior{
    top: 30vh;
}

h3{
    font-size:5vh;
}
.explicacao{
    position: absolute;
    width: 50vh;
    left: 15vh;
    
}

.entrada{
    position: absolute;
    text-align: center;
    width: 50vh;
    height: 20vh;
    right: 15vh;

}
.botoes_entrada{
    width: 90%;
    height: 30%   
    
}
#botao_login{
    float:left;

}
#botao_cadastrar{
    float: right;
}


input{ 
    color: gray;
    font-size: 2vh;
    border-style: none;
    width: 90%;
    height: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 2%;
}
