*{
  
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
div{
    position: absolute;
    width: 100%;
    height: 100%;
}


.metade, .metade-horizontal{
    width: 50%;
}
.metade, .metade-vertical{
    height: 50%;
}
.dois-tercos,.dois-tercos-horizontais{
    width: 70%;
}
.dois-tercos,.dois-tercos-verticais{
    height: 70%;
}


.alinhado-a-direita{
    right: 0;
}

.alinhado-a-esquerda{
    left:0
}
.alinhado-ao-topo{
  top: 0;
}
.alinhado-ao-fundo{
    bottom: 0;
}
.centralizado{
    left:50%;
    top:50%;
    transform: translate(-50%,-50%)
}
.centralizado-verticalmente{

    top: 50%;
    transform: translateY(-50%);

}
.centralizado-horizontalmente{
    left: 50%;
    transform: translateX(-50%);

}



 
