

body,#root
    height: 100%
    width: 100%
    position: fixed
    margin: 0
    padding: 0

    
@mixin quadro
    width: 100%
    height: 100%
    position: absolute

@mixin metade-horizontal
     width: 50%

@mixin total-horizontal
    width:100% 

@mixin metade-vertical
     height: 50%

@mixin total-vertical 
    height: 100%

    
@mixin metade 
    @include metade-horizontal
    @include metade-vertical
    
@mixin dois-tercos-horizontais
    width: 70%

@mixin centralizado-horizontalmente
    left: 50%
    transform: translateX(-50%)

@mixin centralizado-verticalmente
    top: 50%
    transform: translateY(-50%)

@mixin centralizado 
    left: 50%
    top:50%
    transform: translate(-50%,-50%)
    

@mixin um-quinto-do-topo
    top: 20%

 
