

h3 
    font-size: 4vh
    margin-bottom: 1vh
p
    margin-top: 1vh
    font-size: 3vh

        
body,#root
    width: 100vw
    height: 100vh
    position: fixed
    margin: 0
    padding: 0



input
    color: gray
    width: 25vw
    margin-top: 2vh
    height: 4vh
    font-size: 3vh

@media  (orientation:portrait)
    input
        width: 80vw
